.background-image {
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;

  &--visible {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
  }

  &--all-saints-day {
    background-image: url('/images/all-saints-day.jpg');
  }

  &--ascension-day {
    background-image: url('/images/ascension-day.jpg');
  }

  &--christmas-day {
    background-image: url('/images/christmas-day.jpg');
  }

  &--christmas-eve {
    background-image: url('/images/christmas-eve.jpg');
  }

  &--easter-monday {
    background-image: url('/images/easter-monday.jpg');
  }

  &--easter-sunday {
    background-image: url('/images/easter-sunday.jpg');
  }

  &--epiphany {
    background-image: url('/images/epiphany.jpg');
  }

  &--good-friday {
    background-image: url('/images/good-friday.jpg');
  }

  &--independence-day {
    background-image: url('/images/independence-day.jpg');
  }

  &--may-day {
    background-image: url('/images/may-day.jpg');
  }

  &--midsummer-day {
    background-image: url('/images/midsummer-day.jpg');
  }

  &--midsummer-eve {
    background-image: url('/images/midsummer-eve.jpg');
  }

  &--new-year {
    background-image: url('/images/new-year.jpg');
  }

  &--pentecost {
    background-image: url('/images/pentecost.jpg');
  }

  &--st-stephens-day {
    background-image: url('/images/st-stephens-day.jpg');
  }
}
