.page {
  position: relative;
}

.section {
  @include grid-row();
  max-width: 100%;

  &__column {
    @include grid-column($columns: 12, $center: true);

    &--background {
      background-size: 100% 100%;
      height: 100%;
      position: fixed;
    }
  }
}

.box {
  width: 800px;
  margin: 0 auto;
  margin-top: 300px;
  text-align: left;

  .box__row {
    @include grid-row();
    margin-bottom: 20px;
  }

  .text-small {
    background-color: $yellow;
    display: inline-block;
    font-size: 26px;
    font-weight: 300;
    margin-right: 20px;
    padding: 10px 20px;

    &--secondary {
      background-color: $red-light;
      color: $pink-light;
      font-weight: 100;
    }
  }
}

.image-attribution {
  background-color: #000;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  opacity: 0.7;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
