.page {
  position: relative;
}

.main-content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.section {
  @include grid-row();
  max-width: 100%;
  height: inherit;

  &__column {
    @include grid-column($columns: 12, $center: true);
    display: table;
    height: inherit;
  }
}

.box {
  display: table-cell;
  vertical-align: middle;
  width: 800px;
  margin: 0 auto;
  margin-top: 300px;
  text-align: left;

  .box__row {
    @include grid-row();
    margin-bottom: 20px;
  }

  @media #{$small-only} {
    width: 100%;
  }
}

.hide-on-small {
  @media #{$small-only} {
    display: none;
  }
}
