.heading {
  background-color: #fff;
  display: inline-block;
  font-size: 100px;
  padding: 20px;

  @media #{$medium-only} {
    font-size: 65px;
  }

  @media #{$small-only} {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }
}

.text-small {
  background-color: $yellow;
  display: inline-block;
  font-size: 26px;
  font-weight: 300;
  margin-right: 20px;
  padding: 10px 20px;

  @media #{$small-only} {
    font-size: 14px;
  }

  &--secondary {
    background-color: $red-light;
    color: #fff;
    font-weight: 300;
  }
}

.image-attribution {
  background-color: #000;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  opacity: 0.7;
  padding: 5px 10px;
  position: fixed;
  bottom: 0;
  right: 0;

  @media #{$small-only} {
    text-align: center;
    width: 100%;
  }
}
